@page "{id:int}"
@model rabotyagiszavoda.Pages.EditWorker

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Worker.WorkerId" />
            <div class="form-group">
                <label asp-for="Worker.Name" class="control-label"></label>
                <input asp-for="Worker.Name" class="form-control" />
                <span asp-validation-for="Worker.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
	<a asp-page="./WorkersPage">Back to List</a>
</div>

